# 2-1

- https://wikidocs.net/30105

## 001

In [4]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

## 002

In [5]:
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

## 003

In [8]:
movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

## 004

In [10]:
movie_rank.remove('럭키')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

## 005

In [12]:
movie_rank.remove('스플릿')
movie_rank.remove('배트맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

## 006

In [13]:
lang1 = ['C', 'C++', 'JAVA']
lang2 = ['Python', 'Go', 'C#']

langs = lang1+lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

## 007

In [14]:
nums = [1, 2, 3, 4, 5, 6, 7]
print('최대값 : ', max(nums))
print('최소값 : ', min(nums))

최대값 :  7
최소값 :  1

## 008

In [15]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

## 009

In [17]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print('데이터 갯수 : ', len(cook))

데이터 갯수 :  12

## 010

In [18]:
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

# 2-2

## 011

In [19]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

## 012

In [21]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[0::2])

[1, 3, 5, 7, 9]

## 013

In [22]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

## 014

In [25]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

## 015

In [26]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[-1])

삼성전자 Naver

## 016

In [29]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(interest[1:])

['LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [30]:
' '.join(interest)

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

In [31]:
print(interest)

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

## 017

In [32]:
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

## 018

In [33]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

## 019

In [36]:
string = '삼성전자/LG전자/Naver'
string = string.split('/')
print(string, type(string))

['삼성전자', 'LG전자', 'Naver'] <class 'list'>

## 020

In [37]:
string = "삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우"
string = string.split('/')
print(string, type(string))

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우'] <class 'list'>