In [1]:
print("hello world")

hello world

# 안녕

In [2]:
print("안녕")

안녕

# 일주일은 몇초인가?

In [3]:
second = 1
minute = second * 60
hour = minute * 60
day = hour * 24
week = day * 7

week

604800

# 인덱싱

In [4]:
a = 'hello world'

In [7]:
a[7]

'o'

# 슬라이싱

In [8]:
a

'hello world'

In [10]:
a[0:5]

'hello'

In [13]:
a[6:11]

'world'

In [14]:
a[1:9:2]

'el o'

In [15]:
rain_prob = 60
rain_amount = 30
a = '내일의 강수 확률은 {}%, 강수량은 {}mm입니다.'.format(rain_prob, rain_amount)

In [16]:
a

'내일의 강수 확률은 60%, 강수량은 30mm입니다.'

In [19]:
a.split("은")

['내일의 강수 확률', ' 60%, 강수량', ' 30mm입니다.']

In [21]:
a = "한글"
b = a.encode('utf-8')
print(a,b)

한글 b'\xed\x95\x9c\xea\xb8\x80'

In [25]:
c = b.decode('utf-8')
c

'한글'

# 연습문제 1-1

### 001

In [26]:
print("Hello World")

Hello World

### 002

In [27]:
print("Mary's cosmetics")

Mary's cosmetics

### 003

In [28]:
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

### 004

In [30]:
answer = 8
a = 2 + 2 * 3

a == answer

True

### 005

In [31]:
answer = "34"
a = "3" + "4"

a == answer

True

### 006

In [32]:
print("#"*100)

####################################################################################################

### 007

In [34]:
lg_stock = 1234
mine = 17

total = mine * lg_stock
print(total)
print (1234 * 17)

20978
20978

### 008

In [35]:
print(87720/34)

2580.0

### 009

In [37]:
string = "720"
a = int(string)
type(a)

int

### 010

In [38]:
integer = 720
s = str(720)
type(s)

str

# 연습문제 1-2

### 011

In [39]:
len("pneumonoultramicroscopicsilicovolcanoconiosis")

45

### 012

In [41]:
print("C:\\Windows")

C:\Windows

### 013

In [42]:
print("안녕하세요.\n만나서\t반갑습니다.")

안녕하세요.
만나서	반갑습니다.

### * \n은 new line, \t는 tab

### 014

In [44]:
ans = "오늘은 일요일"
print(ans)
print("오늘은", "일요일")

오늘은 일요일
오늘은 일요일

### 015

In [3]:
ans = 4
silsoo = 4.7
ans == int(silsoo)

#내림

True

### 016

In [4]:
round(silsoo)

5

### 017

In [6]:
silsoo2 = 4.71
round(silsoo2,1)

4.7

# 연습문제 1-3

### 031

In [9]:
one = "hello"
two = "python"

ans = one + "! " + two

ans

'hello! python'

### 032

In [13]:
one = "python"
two = "java"

ans = (one + " " + two + " ")*4
ans

'python java python java python java python java '

### 033

In [14]:
lang = 'python'
lang[0], lang[2]

('p', 't')

### 034

In [19]:
license_plate = "24가 2210"
license_plate[-4:]

'2210'

### 035

In [22]:
string1 = "홀짝홀짝홀짝"
string1[0:len(string1):2]

'홀홀홀'

In [23]:
string1[::2]

'홀홀홀'

### 036

In [25]:
string = "PYTHON"
print(string[::-1])

NOHTYP

### 037

In [39]:
phone = "010-2246-8439"
phone.replace('-', ' ')

'010 2246 8439'

### 038

In [40]:
phone.replace('-', '')

'01022468439'

### 039

In [36]:
string = 'abcd'
string.replace('a', 'A')

'Abcd'

### 040

In [52]:
string = "국어 영어 수학 과학 경제 지리 물리 화학 생물"
print(string.replace(" ", "\n"))

국어
영어
수학
과학
경제
지리
물리
화학
생물