### for : 순회가 가능한 반복문

In [1]:
a = [1, 2, 4, 3, 5]
for i in a:
    print(i, i*2)

1 2
2 4
4 8
3 6
5 10

In [3]:
a = 'hello world'
for character in a:
    print(character)

h
e
l
l
o

w
o
r
l
d

### dict 아이템 출력

In [6]:
a = {'korea' : 'seoul', 'japan' : 'tokyo', 'canada' : 'ottawa'}
for key in a:
    print(key, a[key])

korea seoul
japan tokyo
canada ottawa

In [7]:
for key in a:
    print(a[key])

seoul
tokyo
ottawa

In [8]:
a.items()

dict_items([('korea', 'seoul'), ('japan', 'tokyo'), ('canada', 'ottawa')])

In [9]:
list(a.items())

[('korea', 'seoul'), ('japan', 'tokyo'), ('canada', 'ottawa')]

In [10]:
for k, v in a.items():
    print(k, v)

korea seoul
japan tokyo
canada ottawa

### for에서 index 사용하기(enumerate)

In [15]:
a = [1, 2, 3, 4, 5]
for index, num in enumerate(a):
    print(index, num)

0 1
1 2
2 3
3 4
4 5

In [20]:
#break
a = [100, 90, 80, 70, 60, 50]
for num in a:
    if num < 80:
        break
    print(num)

100
90
80

In [21]:
#continue
a = [100, 90, 80, 70, 60, 50]
for num in a:
    if num >= 60 and num <= 70:
        continue
    print(num)

100
90
80
50

### loop 중첩

In [22]:
a = [1, 2, 4]
for i in a:
    for j in a:
        print (i, j, i*j)

1 1 1
1 2 2
1 4 4
2 1 2
2 2 4
2 4 8
4 1 4
4 2 8
4 4 16

### 예제1) 구구단 출력

In [23]:
gugu = list(range(1, 10))
print(gugu)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
for i in gugu:
    for j in gugu:
        print(i, '*', j, '=', i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### 예제2) 1부터 100사이의 5의 배수만을 갖는 리스트를 생성하시오

In [27]:
total = list(range(1,101))
ans = []
for i in total:
    if i % 5 == 0:
        ans.append(i)
print(ans)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

### 예제3) 1 - 100까지 정수 중 2의 배수 또는 11의 배수를 출력

In [36]:
for i in range(1, 101):
    if i % 2 == 0 or i % 11 == 0:
        print(i)
    else:
        continue

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100

### 예제4) a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최대값과 최소값을 찾으시오(sorted, sort 사용 금지)

In [50]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

In [51]:
ansmax = 0
for i in a:
    if i > ansmax:
        ansmax = i
    else:
        continue
print('최대값 : ', ansmax)

최대값 :  99

In [52]:
ansmin = a[0]
for i in a:
    if i < ansmin:
        ansmin = i
        
print(ansmin)

1

### 예제5) a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 구하시오

In [34]:
import numpy as np
np.average(a)
#ㅋㅋㅋ

37.0

In [35]:
_sum = 0
for i in a:
    _sum += i
    
print(_sum/len(a))

37.0