# List

In [3]:
a = []
a, type(a)

([], list)

In [5]:
a = int(5)
print(a, type(a))

5 <class 'int'>

In [6]:
a = "hello world hi there"
b = a.split(" ")
b, type(b)

(['hello', 'world', 'hi', 'there'], list)

### List Indexing

In [7]:
a = [1,2,3,5,6,7,8]
a

[1, 2, 3, 5, 6, 7, 8]

In [9]:
a[0], a[-1]

(1, 8)

### List Slicing

In [10]:
a[:]

[1, 2, 3, 5, 6, 7, 8]

In [11]:
a[1:4]

[2, 3, 5]

In [12]:
a[1:100:2]

[2, 5, 7]

### List Operation(Function)

In [13]:
a = [1, 2, 3]
b = [4, 5, 6]
a,b

([1, 2, 3], [4, 5, 6])

In [14]:
print(a+b)

[1, 2, 3, 4, 5, 6]

In [16]:
print(a*4)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [17]:
a.append(4)
a

[1, 2, 3, 4]

In [18]:
a.append(b)
a

[1, 2, 3, 4, [4, 5, 6]]

In [19]:
len(a)

5

In [20]:
a[4]

[4, 5, 6]

In [24]:
a = [1, 2, 3]
a, b

([1, 2, 3], [4, 5, 6])

In [25]:
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [26]:
a,b

([1, 2, 3, 4, 5, 6], [4, 5, 6])

In [27]:
print(a), print(b)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]

(None, None)

In [28]:
a.extend(b)

### 연습문제

In [38]:
a = [1, 17, 8, 29, 10, 11]

In [39]:
a.sort()
ans = a[-1] + a[-2]
print(ans)

46

# Tuple

In [40]:
a = (1, 2, 3)
a, type(a)

((1, 2, 3), tuple)

In [42]:
a = tuple([1,2,3])
a, type(a)

((1, 2, 3), tuple)

In [43]:
a, b, c = 4, 5, 6
print(a, b, c, type(a), type(b), type(c))

4 5 6 <class 'int'> <class 'int'> <class 'int'>

### 튜플 스와핑

In [44]:
a = 5
b = 4
print(a, b)

5 4

In [45]:
a, b = b, a
print(a, b)

4 5

In [46]:
a = (1, 2, 3)
print(a[0])

1

In [47]:
a[0] = 4

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [1]:
a = {}
print(a, type(a))

{} <class 'dict'>

In [2]:
a = {1:2, 4:8, 6:9}
print(a)

{1: 2, 4: 8, 6: 9}

In [3]:
a[1] #index는 key에 적용됨

2

In [5]:
a = {'Canada' : 100, 'Korea' : 200}
a

{'Canada': 100, 'Korea': 200}

In [6]:
a['England'] = 50
print(a)

{'Canada': 100, 'Korea': 200, 'England': 50}

In [7]:
a['Korea'] = 300
print(a)

{'Canada': 100, 'Korea': 300, 'England': 50}

In [8]:
print(a['Canada'])
print(a.get('Canada'))

100
100

In [11]:
print(a.get('USA'))

None

In [12]:
'USA' in a

False

In [13]:
'Korea' in a

True

In [14]:
a.pop('England')
print(a)

{'Canada': 100, 'Korea': 300}

### Set(집합)

In [16]:
a = set()
print(type(a))

<class 'set'>

In [18]:
a = {1, 2, 3, 4, 2, 1, 8, 4, 5}
print(a)

{1, 2, 3, 4, 5, 8}

In [21]:
b = {3, 6, 2, 3, 1, 2, 2, 4, 1, 2, 2}
print(b, type(b))

{1, 2, 3, 4, 6} <class 'set'>

In [22]:
print(a.intersection(b))

{1, 2, 3, 4}

In [23]:
print(a & b)

{1, 2, 3, 4}

In [24]:
exam = {}
print(type(exam))

<class 'dict'>

In [27]:
exam1 = {'파이썬':'한준'}
print(type(exam1))

exam2 = {1,2,3}
print(type(exam2))

<class 'dict'>
<class 'set'>

In [29]:
print(a, b)
print(a|b)

{1, 2, 3, 4, 5, 8} {1, 2, 3, 4, 6}
{1, 2, 3, 4, 5, 6, 8}